@import "./sass/index.scss";

.ant-btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover,
  &:focus {
    background-color: $primary-color-hover;
    border-color: $primary-color-hover;
  }
}

.ant-btn-danger {

  &:hover,
  &:focus {
    background-color: #b82c2e;
    border-color: #b82c2e;
  }
}

.ant-btn-default {
  font-size: 17px;
}

.ant-select-dropdown {
  div {
    font-weight: bold !important;
    font-size: 15px;
  }
}

.ant-select-selector,
.ant-input-affix-wrapper,
.ant-input,
.ant-picker,
.ant-picker-input {
  width: 100%;
  background: $background-dark-light  !important;
  transition: all ease 1s;

  span {
    font-size: 17px;
  }

  .anticon {
    color: $primary-color  !important;
  }
}

.ant-select-arrow {
  .anticon {
    color: $primary-color-light;
  }
}

.ant-select-selection-item,
.ant-select-selector input,
.ant-input-affix-wrapper span,
.ant-input-affix-wrapper input,
.ant-input span,
.ant-input input,
.ant-picker-input input {
  color: $font-light  !important;
  font-size: 17px !important;
}

.ant-select-selection-placeholder {
  font-size: 17px;
}

.ant-select-focused,
.ant-select,
.ant-select-selector,
.ant-input-affix-wrapper,
.ant-picker {
  border-color: $primary-color  !important;
  transition: all ease .1s;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-input-affix-wrapper-focused,
.ant-picker-focused {
  box-shadow: 0 0 0 .7px rgba($primary-color-light, 1);
  transition: all ease .2s;
}

.ant-switch-checked {
  background-color: $primary-color;
}

.ant-checkbox-inner {
  background-color: rgba($primary-color, .4) !important;
  border: 1px solid $primary-color  !important;
}

.ant-checkbox-checked:after,
.ant-checkbox-inner {
  border: 1px solid $primary-color  !important;
}

.success-input {
  background-color: $background-success  !important;
}

.error-input {
  background-color: $background-error  !important;
}

.success-wrapper {
  border: 1px solid $success  !important;
  box-shadow: 0px .1px 3px $success  !important;
  background-color: $background-success;

}

.error-wrapper {
  border: 1px solid $error  !important;
  box-shadow: 0px .1px 3px $error  !important;
  background-color: $background-error;
}