@import '../../../../sass/index.scss';

.tasks-list {
    &__item {
        width: 100%;

        .task {
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            min-height: 100px;
            height: max-content;
            line-height: 20px;
        }

        .ant-checkbox-inner {
            width: 30px !important;
            height: 30px !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
        }

        .ant-checkbox-wrapper::after {
            background: $background-dark  !important;
            color: $primary-color  !important;
        }

        .ant-checkbox-inner::after {
            width: 10px !important;
            height: 20px !important;
            top: 12px;
        }

        .List {
            margin-top: 20px;
            padding: 5px 20px;
            position: relative;
            background-color: $background-dark-light;

            .ant-list-item-meta-title {
                font-size: 22px;
                color: $font-light;
                margin-left: 20px;
            }

            .ant-list-item-meta-description {
                display: flex;
                flex-direction: column;

                .anticon {
                    margin-right: 6px;
                }

                .description-date-up {
                    color: $font-dark-light;
                    margin-left: 28px;
                }

                .description-date-down {
                    color: $font-dark-light;
                    margin-left: 28px;

                    .no-date {
                        color: $primary-color;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}