@import '../../../../sass/index.scss';

.tasks-list {
    &__item {
        width: 100%;

        .task {
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            min-height: 100px;
            height: max-content;
            line-height: 20px;
        }

        .ant-checkbox-inner {
            width: 30px !important;
            height: 30px !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
        }

        .ant-checkbox-wrapper::after {
            background: $background-dark  !important;
            color: $primary-color  !important;
        }

        .ant-checkbox-inner::after {
            width: 10px !important;
            height: 20px !important;
            top: 12px;
        }

        .List {
            margin-top: 20px;
        }

        .task {
            margin-top: 2px;
            padding: 5px 20px;
            border-radius: 4px;
            position: relative;
            background-color: $background-dark-light;

            &__btn-category {
                width: 150px;
                font-weight: bold;
                border: 3px solid transparent;
                color: $font-light;
                background-color: $background-dark;
                opacity: .5;

                span {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                &.not-disabled:hover {
                    width: 160px;
                    box-shadow: 0px 9px 12px rgba(0, 0, 0, .6) !important;
                    opacity: 1;
                }

                &.not-disabled:active {
                    transition: all ease .3s;
                    box-shadow: 0px 3px 7px rgba(0, 0, 0, .6) !important;
                }
            }

            .ant-list-item-meta-content {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .ant-list-item-meta-title {
                font-size: 22px;
                color: $font-light;
                font-weight: bold;
                margin-left: 20px;
                width: 700px;

                h4 {

                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .ant-list-item-meta-description {
                display: flex;
                flex-direction: column;

                .anticon {
                    margin-right: 6px;
                }
            }

            &__description-date-up {
                font-weight: bold;
                color: $font-dark-light;
                margin-left: 28px;
            }

            &__description-date-down {
                font-weight: bold;
                color: $font-dark-light;
                margin-left: 28px;

                &__no-date {
                    color: #377928;
                }

                &__date-down-warning {
                    color: $danger;
                }

                &__date-down-ok {}

                &__date-down-not-ok {
                    color: $font-dark;
                }
            }

            &.warning-time {
                animation-name: shadow-task;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
            }

            @keyframes shadow-task {
                0% {
                    box-shadow: -4px 0px 6px rgba($danger, .8);
                    background-color: rgb(94, 62, 62);
                }

                50% {
                    box-shadow: -2px 0px 2px transparent;
                    background-color: $background-dark-light;
                }

                100% {
                    box-shadow: -4px 0px 6px rgba($danger, .8);
                    background-color: rgb(94, 62, 62);
                }
            }

            &.finish-time {
                background-color: rgb(110, 80, 80);
                border: 2px solid rgba($danger, .6);

                .ant-list-item-meta-title {
                    color: $font-dark;
                }

                .ant-list-item-meta-description {
                    color: $font-dark;

                    .anticon {
                        color: $font-dark;
                    }

                }

                .task__description-date-up {
                    color: $font-dark;
                }

                .task__description-date-down {
                    color: $font-dark;
                }

            }

            &.check {
                border: 2px solid rgba($success, .4);
                background-color: rgb(63, 95, 63);

                .task__description-date-up {
                    color: $font-dark;
                }

                .task__description-date-down {
                    color: $font-dark;

                    &__no-date {
                        color: $font-dark;
                    }

                    &__date-down-warning {
                        color: $font-dark;
                    }
                }
            }
        }
    }
}