@import "../../sass/index.scss";

.layout-home {
    &__header {
        background: $background-dark  !important;
    }

    &__content {
        background-image: url('../../assets/img/jpg/background-v1.jpg');
        display: flex;
        height: 100%;
        // padding-bottom: 64px;
        min-height: calc(100vh - 112px) !important;
        position: relative;
    }

    &__footer {
        right: 0;
        display: flex;
        align-items: center;
        height: 30px;
        width: 100%;
        background-color: $background-dark  !important;
        color: #fff !important;
    }
}