@import "../../sass/index.scss";

.layout-home {

    &__content {
        position: relative;
        display: flex;
        height: 100%;
        margin-top: 64px !important;
        padding-bottom: 64px;
        min-height: calc(100vh - 112px) !important;
        background-image: url('../../assets/img/jpg/background-v1.jpg');
    }

    &__footer {
        right: 0;
        display: flex;
        align-items: center;
        height: 30px;
        width: 100%;
        background-color: $background-dark  !important;
        color: #fff !important;
    }
}