@import '../../../sass/index.scss';

.categories {
    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 20px 0;

        &-btn-new-category {
            button {
                display: flex;
                align-items: center;
                font-size: 17px;
                float: right;
            }
        }
    }
}