@import '../../../../sass/index.scss';

.form-task {
    .anticon {
        &.anticon-close-circle {
            background-color: $background-dark-light ;
        }
    }
}

.ant-picker-ranges {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: $primary-color;
        font-weight: bold;
    }
}

.ant-select-disabled {
    span {
        opacity: .7;

    }

    &.ant-select-multiple {
        span {
            opacity: .7;
        }
    }
}

.ant-picker-disabled {
    div {
        opacity: .4;
    }
}