@import '../../../../sass/index.scss';

.form-task {
    .anticon {
        &.anticon-close-circle {
            background-color: $background-dark-light ;
        }
    }

}

.ant-picker-ranges {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: $primary-color;
        font-weight: bold;
    }
}