@import '../../sass/index.scss';

.home-admin {
    display: flex;
    align-items: center;
    top: 20px;
    position: relative;

    h2 {
        color: $font-light;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
    }

    p {
        color: $font-light;
        font-size: 17px;
        letter-spacing: 2px;
    }

    .border {
        width: 90%;
        height: 2px;
        // background-color: rgba($background-dark-light, .7);
        border-radius: 4px;
        box-shadow: 0px 6px 8px rgba($background-dark-light, .8),
            0px 8px 16px rgba($background-dark-light, .8);
    }

    &__content {
        height: 100%;
        min-height: calc(100vh - 178px) !important;
        width: 100%;

        &__row-about,
        &__row-videos,
        &__row-button {
            display: flex;
            justify-content: center;
            align-items: center;
            // margin-bottom: 20px;

            &-header {
                margin-top: 10px;
                margin-bottom: 20px;
            }

            div {
                text-align: justify;
            }
        }

        &__row-about {
            margin-bottom: 30px;
        }

        &__row-videos {
            div {
                text-align: center;
                // background: red !important;
            }

            iframe {
                width: 99%;
                background: rgba(0, 0, 0, .5);
                box-shadow: 0px 6px 8px rgba(0, 0, 0, .5),
                    0px 8px 16px rgba(0, 0, 0, .5);
                border-radius: 4px;
            }

            @media (max-width: 990px) {
                .second {
                    margin-top: 20px;
                }

                iframe {
                    width: 70%;
                }
            }

            @media (max-width: 800px) {
                iframe {
                    width: 99%;
                }
            }
        }

        &__row-button {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 30px;
                padding-right: 30px;

                .btn-login,
                .btn-personal-web {
                    width: 280px;
                    height: 40px;
                    font-size: 20px;
                }

                @media (max-width: 600px) {

                    .btn-login,
                    .btn-personal-web {
                        width: 100%;
                    }
                }

                @media (max-width: 768px) {
                    .btn-personal-web {
                        // margin-top: 20px;
                    }
                }
            }
        }
    }

    @media (max-width: 700px) {
        img {
            width: 30px;
        }
    }

}