@import '../../sass/index.scss';

@import "../../sass/index.scss";

.layout-admin {
    // height: max-content !important;
    // height: 100vh;

    &__header {
        background: $background-dark  !important;
    }

    &__content {
        background-image: url('../../assets/img/jpg/background-v1.jpg');
        height: 100%;
        padding-bottom: 64px;
        min-height: calc(100vh - 112px) !important;
    }

    &__footer {
        // position: relative;
        right: 0;
        display: flex;
        align-items: center;
        height: 30px;
        width: 100%;
        // bottom: 48px;
        background-color: $background-dark  !important;
        color: #fff !important;
    }
}