@import '../../../../sass/index.scss';

.form-category {
    &__div-color {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        box-shadow: $box-shadow-basic;
        -webkit-box-shadow: $box-shadow-basic;
        -moz-box-shadow: $box-shadow-basic;

        &__description,
        &__block-color {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            padding: 4px;
            background-color: $background-dark-light;
            color: $font-light;
            font-weight: light;
            letter-spacing: 2px;
            border-radius: 4px;
            box-shadow: $box-shadow-basic;
            -webkit-box-shadow: $box-shadow-basic;
            -moz-box-shadow: $box-shadow-basic;
        }

        &__block-color {
            background-color: rgb(162, 0, 0);
            position: relative !important;
            left: 20px !important;
        }
    }

    &__select-tasks {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 35px;
        padding: 4px;
        background: rgba($primary-color-hover, .4);
        border-radius: 4px;
        box-sizing: border-box;

        &__category {
            margin-left: 10px;
            padding: 0px 5px;
            border: 2px solid #ddd;
            border-radius: 4px;
            box-shadow: $box-shadow-basic;
            -webkit-box-shadow: $box-shadow-basic;
            -moz-box-shadow: $box-shadow-basic;
        }
    }

    .ant-select-selection-item {
        display: flex;
        align-items: center;
        height: 100%;

        .form-category__div-color__block-color {
            display: none;
        }

        .form-category__div-color {
            width: 100%;
            height: 80%;
            padding: 0 4px;

            &__description {
                height: 23px;
                padding: 0px 2px;
            }
        }
    }

    .ant-select-selection-overflow-item {
        .ant-select-selection-item {
            height: 35px;
            background: $background-select-item;
            color: $background-dark-light  !important;
            font-weight: bold;
            box-shadow: $box-shadow-basic;
            -webkit-box-shadow: $box-shadow-basic;
            -moz-box-shadow: $box-shadow-basic;
        }
    }
}