@import '../../sass/index.scss';

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 5px;
    width: 100%;
    height: 30px;
    right: 0;
    background-color: $background-dark  !important;
    color: #fff !important;
    font-weight: bold;
    z-index: 2;

    &__social {
        display: flex;
        width: 130px;
        justify-content: space-between;
        margin-left: 20px;

        a {
            color: $font-light;

            &:hover {
                color: rgba($primary-color-light, .4)
            }
        }
    }
}