@import '../../../../sass/index.scss';

.sign-up-form-div {
    position: relative;
    width: 100%;
    padding: 5px 35px;
    border-radius: 10px;
    font-size: 1.1em;

    .privacyPolicy {
        .ant-checkbox-wrapper {
            margin-right: 4px;
        }

        .ant-form-item-control-input-content {
            display: flex;
        }

        button {
            margin-left: 4px;
            height: max-content;
            width: max-content;
            padding: 0;
            background-color: transparent;
            border: none;
            color: $primary-color-light;
            cursor: pointer;
            font-size: 14px;
        }

        color: $font-light;
    }
}