@import '../../../sass/index.scss';

.tasks-list {

    &__header {
        display: flex;
        align-items: center;
        // justify-content: space-between;

        &-switch {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: calc(100% / 3);
            // background-color: red;

            span {
                font-size: 17px;
                margin-left: 10px;
                letter-spacing: 1.5px;
                color: white;
            }
        }

        &-select-order {
            display: flex;
            justify-content: center;
            width: calc(100% / 3);
            // background: red;
            position: relative;

            .ant-select {
                font-size: 17px;
                width: 90%;
            }
        }

        &-btn-new-task {
            display: flex;
            justify-content: flex-end;
            width: calc(100% / 3);
            // background: blue;

            button {
                display: flex;
                align-items: center;
                font-size: 17px;

            }
        }
    }
}