.welcome {
    width: 100vw;

    &__col {
        display: flex;
        align-items: center;
        width: 100%;

        &.col-login-form {
            justify-content: center;
        }

        &.col-img {
            justify-content: flex-start;
        }
    }

    @media (max-width: 700px) {
        &__col {
            justify-content: center !important;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}