.welcome {
    width: 100vw;

    &__col {
        display: flex;
        align-items: center;
        width: 100%;

        &.col-login-form {
            justify-content: flex-end;
        }

        &.col-img {
            justify-content: flex-start;

            div {
                display: flex;
                justify-content: center;
                width: 400px;
                padding: 20px 35px;
                // padding: 25px;
                background-color: rgb(16, 16, 16);
                box-shadow: 0px 0px 20px #000;
                border-radius: 30%;
            }

            img {
                opacity: .8;
            }
        }
    }

    @media (max-width: 767px) {
        &__col {
            justify-content: center !important;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}